*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0e0d0d, #414a56);
    padding: 5%;
}
.calculator{
    border: 1px solid #717377;
    padding: 1rem;
    border-radius: 0.8rem;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113,115,119,0.5);
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
}

input{
    background: transparent;
    border: none;
    padding: 0.4rem;
    margin: 0.3rem;
    height: 4.5rem;
    font-size: 2rem;
    color: #fff;
    text-align: right;
    cursor: pointer;
    box-shadow: 0px 3px 15px rgba(73, 74, 76, 0.5);
}
input::placeholder{
    color: #fff;
}
button{
    width: 4.3rem;
    height: 4.3rem ;
    margin: 0.9rem;
    border-radius: 50%;
    border: none;
    box-shadow: -8px -8px 15px rgba(13, 13, 14, 0.7);
    background: transparent;
    color: #fff;
    font-weight: 900;
    font-size: 1.4rem;
    cursor: pointer;
}
button:hover{
    box-shadow: 5px 5px 10px rgba(0, 10, 0, 0.3);
    background-color: rgb(110, 110, 110);
}
.equal{
    background-color: rgb(136, 195, 47);
}
.operator{
    background-color: rgb(163, 121, 43);
}